.body{
    position: relative;
    padding: 270px;
}
.post{
    width: 19px;
    height: 103px;
    background: black;
}
.traffic-ligth{
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.glow{
    box-shadow: 0px 0px 9px 4px #747de8;
}